<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
    <div class="wrapper fadeInDown">
  <div id="contenido">
 <div class="center"›
   
    </h1>
    <h1 class="titrepaso">¡BIENVENIDO ADMINISTRADOR!</h1>
        <input style="margin-right: 3%; background-color: #7894FF;" type="button" class="fadeIn first" value="SUBIR CONTENIDO">
        <input style="background-color: #D21E26" type="submit" class="fadeIn second" value="MODIFICAR CONTENIDO">
    <input style="margin-right: 4%; top: 80%;background-color: #FBB731"  type="button" class="fadeIn third" value="ADMINISTRAR USUARIOS">
    </div>
    <div id="parteabajo">
      <input style=" margin-left: 5%; top: 80%; background-color: #FF699F" type="button" class="fadeIn fourth" value="ELIMINAR CONTENIDO">
     <input style="background-color: #F9ACD5" type="submit" class="fadeIn second" value="ASIGNAR COMENTARIOS">
    </div>
    </div>
      <img class="repasoimg" src="https://clipart-library.com/images/kcMnnkR6i.png" width="250px"; height="250px"; margin-top="30%";>
    </form>