<h1>BIENVENIDO ADMIN</h1>
<div>
        <h3 class="bienveadmin">Bienvenido {{nombre}} administrador!</h3>
        <p>Seleccione que desea hacer...</p>
        <div>
        <form action="/editarpreg" method="GET">
            <button class="button">Editar</button> 
        </form>
        <form action="/eliminarpreg" method="GET">
            <button class="button">Eliminar</button> 
        </form>
        <form action="/agregarpreg" method="GET">
            <button class="button">Agregar</button> 
        </form>
    </div>
</div>