<script src="https://use.fontawesome.com/8b2f85c4c1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

<div class="container">
   <!-- Puntitos-->
<div class="bgapi">
  <div class="dotWrapper dotWrapper-1">
    <div class="dot dot-1"></div>
  </div>
  <div class="dotWrapper dotWrapper-2">
    <div class="dot dot-2"></div>
  </div>
  <div class="dotWrapper dotWrapper-3">
    <div class="dot dot-3"></div>
  </div>
  <div class="dotWrapper dotWrapper-4">
    <div class="dot dot-4"></div>
  </div>
  <div class="dotWrapper dotWrapper-5">
    <div class="dot dot-5"></div>
  </div>
  <div class="dotWrapper dotWrapper-6">
    <div class="dot dot-6"></div>
  </div>
  <div class="dotWrapper dotWrapper-7">
    <div class="dot dot-7"></div>
  </div>
  <div class="dotWrapper dotWrapper-8">
    <div class="dot dot-8"></div>
  </div>
  <div class="dotWrapper dotWrapper-9">
    <div class="dot dot-9"></div>
  </div>
  <div class="dotWrapper dotWrapper-10">
    <div class="dot dot-10"></div>
  </div>
  <div class="dotWrapper dotWrapper-11">
    <div class="dot dot-11"></div>
  </div>
  <div class="dotWrapper dotWrapper-12">
    <div class="dot dot-12"></div>
  </div>
  <div class="dotWrapper dotWrapper-13">
    <div class="dot dot-13"></div>
  </div>
  <div class="dotWrapper dotWrapper-14">
    <div class="dot dot-14"></div>
  </div>
  <div class="dotWrapper dotWrapper-15">
    <div class="dot dot-15"></div>
  </div>
  <div class="dotWrapper dotWrapper-16">
    <div class="dot dot-16"></div>
  </div>
  <div class="dotWrapper dotWrapper-17">
    <div class="dot dot-17"></div>
  </div>
  <div class="dotWrapper dotWrapper-18">
    <div class="dot dot-18"></div>
  </div>
  <div class="dotWrapper dotWrapper-19">
    <div class="dot dot-19"></div>
  </div>
  <div class="dotWrapper dotWrapper-20">
    <div class="dot dot-20"></div>
  </div>
  <div class="dotWrapper dotWrapper-21">
    <div class="dot dot-21"></div>
  </div>
  <div class="dotWrapper dotWrapper-22">
    <div class="dot dot-22"></div>
  </div>
  <div class="dotWrapper dotWrapper-23">
    <div class="dot dot-23"></div>
  </div>
  <div class="dotWrapper dotWrapper-24">
    <div class="dot dot-24"></div>
  </div>
  <div class="dotWrapper dotWrapper-25">
    <div class="dot dot-25"></div>
  </div>
  <div class="dotWrapper dotWrapper-26">
    <div class="dot dot-26"></div>
  </div>
  <div class="dotWrapper dotWrapper-27">
    <div class="dot dot-27"></div>
  </div>
  <div class="dotWrapper dotWrapper-28">
    <div class="dot dot-28"></div>
  </div>
  <div class="dotWrapper dotWrapper-29">
    <div class="dot dot-29"></div>
  </div>
  <div class="dotWrapper dotWrapper-30">
    <div class="dot dot-30"></div>
  </div>
  <div class="dotWrapper dotWrapper-31">
    <div class="dot dot-31"></div>
  </div>
  <div class="dotWrapper dotWrapper-32">
    <div class="dot dot-32"></div>
  </div>
  <div class="dotWrapper dotWrapper-33">
    <div class="dot dot-33"></div>
  </div>
  <div class="dotWrapper dotWrapper-34">
    <div class="dot dot-34"></div>
  </div>
  <div class="dotWrapper dotWrapper-35">
    <div class="dot dot-35"></div>
  </div>
  <div class="dotWrapper dotWrapper-36">
    <div class="dot dot-36"></div>
  </div>
  <div class="dotWrapper dotWrapper-37">
    <div class="dot dot-37"></div>
  </div>
  <div class="dotWrapper dotWrapper-38">
    <div class="dot dot-38"></div>
  </div>
  <div class="dotWrapper dotWrapper-39">
    <div class="dot dot-39"></div>
  </div>
  <div class="dotWrapper dotWrapper-40">
    <div class="dot dot-40"></div>
  </div>
  <div class="dotWrapper dotWrapper-41">
    <div class="dot dot-41"></div>
  </div>
  <div class="dotWrapper dotWrapper-42">
    <div class="dot dot-42"></div>
  </div>
  <div class="dotWrapper dotWrapper-43">
    <div class="dot dot-43"></div>
  </div>
  <div class="dotWrapper dotWrapper-44">
    <div class="dot dot-44"></div>
  </div>
  <div class="dotWrapper dotWrapper-45">
    <div class="dot dot-45"></div>
  </div>
  <div class="dotWrapper dotWrapper-46">
    <div class="dot dot-46"></div>
  </div>
  <div class="dotWrapper dotWrapper-47">
    <div class="dot dot-47"></div>
  </div>
  <div class="dotWrapper dotWrapper-48">
    <div class="dot dot-48"></div>
  </div>
  <div class="dotWrapper dotWrapper-49">
    <div class="dot dot-49"></div>
  </div>
  <div class="dotWrapper dotWrapper-50">
    <div class="dot dot-50"></div>
  </div>
  <div class="dotWrapper dotWrapper-51">
    <div class="dot dot-51"></div>
  </div>
  <div class="dotWrapper dotWrapper-52">
    <div class="dot dot-52"></div>
  </div>
  <div class="dotWrapper dotWrapper-53">
    <div class="dot dot-53"></div>
  </div>
  <div class="dotWrapper dotWrapper-54">
    <div class="dot dot-54"></div>
  </div>
  <div class="dotWrapper dotWrapper-55">
    <div class="dot dot-55"></div>
  </div>
  <div class="dotWrapper dotWrapper-56">
    <div class="dot dot-56"></div>
  </div>
  <div class="dotWrapper dotWrapper-57">
    <div class="dot dot-57"></div>
  </div>
  <div class="dotWrapper dotWrapper-58">
    <div class="dot dot-58"></div>
  </div>
  <div class="dotWrapper dotWrapper-59">
    <div class="dot dot-59"></div>
  </div>
  <div class="dotWrapper dotWrapper-60">
    <div class="dot dot-60"></div>
  </div>
  <div class="dotWrapper dotWrapper-61">
    <div class="dot dot-61"></div>
  </div>
  <div class="dotWrapper dotWrapper-62">
    <div class="dot dot-62"></div>
  </div>
  <div class="dotWrapper dotWrapper-63">
    <div class="dot dot-63"></div>
  </div>
  <div class="dotWrapper dotWrapper-64">
    <div class="dot dot-64"></div>
  </div>
  <div class="dotWrapper dotWrapper-65">
    <div class="dot dot-65"></div>
  </div>
  <div class="dotWrapper dotWrapper-66">
    <div class="dot dot-66"></div>
  </div>
  <div class="dotWrapper dotWrapper-67">
    <div class="dot dot-67"></div>
  </div>
  <div class="dotWrapper dotWrapper-68">
    <div class="dot dot-68"></div>
  </div>
  <div class="dotWrapper dotWrapper-69">
    <div class="dot dot-69"></div>
  </div>
  <div class="dotWrapper dotWrapper-70">
    <div class="dot dot-70"></div>
  </div>
  <div class="dotWrapper dotWrapper-71">
    <div class="dot dot-71"></div>
  </div>
  <div class="dotWrapper dotWrapper-72">
    <div class="dot dot-72"></div>
  </div>
  <div class="dotWrapper dotWrapper-73">
    <div class="dot dot-73"></div>
  </div>
  <div class="dotWrapper dotWrapper-74">
    <div class="dot dot-74"></div>
  </div>
  <div class="dotWrapper dotWrapper-75">
    <div class="dot dot-75"></div>
  </div>
</div> 
 <!--ICONS SECTION   -->
  <div id="clouds" class="icon visible">
    <div class="sun pulse"></div>
    <div class="cloud"></div>
    <div class="cloud move"></div>
  </div>
  
  <div id="justClouds" class="icon">
    <div class="cloud move"></div>
    <div class="cloud"></div>
  </div>
  
<!--TRIAL -->  
 <div id="run" class="icon"></div>
 <div id="sunny" class="icon">
    <div class="sun spin pulse center">
     <div class="rays"></div>
    <div class="rays"></div>
    </div>   
  </div >
 
  
  <div id="rain" class="icon">
    <div class="cloud move">
      <div class="rain">
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
      </div>
    </div>
   <div class="cloud">
     <div class="rain">
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
      </div>
    </div>   
  </div>
  
  <div id ="storm" class="icon">
    <div class="cloud storm">
      <div class="rain">
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
        <div></div><div></div>
      </div>
    <div class="thunder"><div>
    </div>
  </div>
    </div>
  </div>
  
  <div id="snow" class="icon">
    <div class="cloud move">
      <div class="snow"></div>
    </div>
    <div class="cloud ">
      <div class="snow"></div>
    </div>
  </div>
   
  
  
<!--ICONS END -->

<!--WEATHER DESCRIPTION -->
  <h2 id="weather-description"></h2>
  <div class="sexy_line"></div> 
  
<!--HEADER --> 
  <div class="header">
    <h2>
      <i id="location" class="fa fa-map-marker" aria-hidden="true"></i>
      <input id="city" type="text" type="submit" placeholder="Buscar ciudad">
      <!-- <span id="city">Gdynia</span> -->
      </input>
      <i id="settings" class="fa fa-cog" aria-hidden="true"></i></h2></div>
  
 <!--WEATHER DATA -->  
  <div class="main-container">
    <div class="temperature">
      <h1 id="h1api">
        <button ><span id="temp"></span><sup><span class="sign"></span></sup></button>     
        <!--<sup><span id="sign">&deg;C</span></sup>-->
      </>
     
    </div>
    <div class="detail-container">
      <div class="humidity">
        <h3><i class="fa fa-tint " aria-hidden="true"></i><span id="humidity"></span><span class="sign">%</span></h3>
      </div>
      <div class="wind-speed">
       <h3><!--<i class="fa fa-flag" aria-hidden="true"></i>--><img src="https://github.com/r00bal/Demo/blob/master/wind_direction_indicator.png?raw=true" alt="wind indicator" width="" height="35"><button><span id="windspeed"></span><span class="sign"></span></button></h3>
      </div>
    </div>  
  
  </div><!--END OF MAIN CONTAINER --> 

<!--MENU-->
<div class="settings">
  <h4>Buscar ciudad por:</h4>  
    <div class="options">
      <h5>Nombre</h5>
      <h5>Código postal</h5>
    </div>       
      <form> 
        <label>
          <input type="radio" name="city" id="name" value="name"><span class="label-text" ></span>
        </label>
        <label> 
          <input type="radio" name="city" id="zip-code" value="zip"><span class="label-text" ></span>
        </label>    
      </form>  
  
  <h4>Unidad de temperatura:</h4>  
    <div class="options">
      <h5>celsius&deg;C</h5>
      <h5>fahrenheit&deg;F</h5>
    </div>       
      <form> 
        <label>
          <input type="radio" name="temp" id="c" value="c"><span class="label-text" </span>
        </label>
        <label> 
          <input type="radio" name="temp" id="f" value="f"><span class="label-text" ></span>
        </label>    
      </form>  
  
  <h4>Unidad de viento:</h4>  
    <div class="options">
      <h5>km/h</h5>
      <h5>m/s</h5>
      <h5>knots</h5>
    </div>       
      <form> 
        <label>
          <input type="radio" name="wind" value="kmh" id="kmh"><span class="label-text" ></span>
        </label>
        <label> 
          <input type="radio" name="wind" value="ms" id="ms"><span class="label-text" ></span>
        </label>
        <label> 
          <input type="radio" name="wind" value="knots" id="knots"><span class="label-text" ></span>
        </label>    
      </form>  
  
  
</div><!-- END OF MENU-->

 
</div><!--END OF CANTAINER -->  