<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<body class="bodying">
  <div class="container">
    <div class="question"></div>
    <div class="choices">
      <input type="checkbox" class="choice" id="choice1">
      <label for="choice1" id="choice1-text"></label></br>
      <input type="checkbox" class="choice" id="choice2">
      <label for="choice2" id="choice2-text"></label></br>
      <input type="checkbox" class="choice" id="choice3">
      <label for="choice3" id="choice3-text"></label></br>
      <input type="checkbox" class="choice" id="choice4">
      <label for="choice4" id="choice4-text"></label></br>
    </div>
    <input type='submit' class="submit" value='Verificar' onclick="checkChoice()"> 
    <div class="result"></div>
  </div>
   <img class="english" src="https://clipart-library.com/images/kcMnnkR6i.png" margin-left= "40%"; width="250px"; height="250px";>
</body>