 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300&display=swap" rel="stylesheet">
    <div class="wrapper fadeInDown">
      <h1 class="titpising">PISTA</h1>
  
<div id="contpising">
<h2 class="pisting">En el Present Simple y Verb to be acordémonos de:</h2>
<div id="fotoverb"><img src="https://lingokids.com/wp-content/uploads/2020/11/20182F112F082F102F522F342Fc5cc9ee2-45c6-4726-afc1-8ec6bdb92d362FVerb-to-be-printable-worksheets-1-miniature.png"
   width="330" />
  <h3 class="texpising">
    <p> El verbo "to be" se traduce como “ser o estar”. Cuando tenemos como sujeto I, el verb to be es "AM", en el caso de que el sujeto sea you, we, they entonces el verb to be será "ARE". Cuando como sujeto tenemos she o he, it; el verb to be va a ser "IS".</p>
      <p>
      <ul style="list-style-type: circle;">
      <li>Veamos este ejemplo para que puedas guiarte:</li></p>
      <p> Cuando quiero decir 'yo tengo diez años'; tengo que recordar que cuando digo 'I' utilizaré 'AM'. Por ende, me quedará: "I am ten years old".</p>
        <p> Ahora haz lo mismo tú. ¡Recuerda con qué verb to be irá cada sujeto!
</p>
</div>