<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300&display=swap" rel="stylesheet">
    <div class="wrapper fadeInDown"><h1 class="titpiscien">PISTA</h1>
  
<div id="contpiscien">
<h2 class="pistcien">En los animales carnívoros acordémonos de:</h2>
<div id="fotoanim"><img src="https://www.etapainfantil.com/wp-content/uploads/2021/04/animales-carnivoros-800x600.jpg.webp"
   width="330" />
  <h3 class="texpiscien">
    <p> Son aquellos que ingieren y digieren tejidos animales. Entre ellos están los DEPREDADORES los cuales cazan la presa que van a consumir y los CARROÑEROS los cuales consumen el tejido del animal muerto.</p>
      <p>
      <ul style="list-style-type: circle;">
      <li>Veamos este ejemplo para que puedas guiarte:</li></p>
      <p>En la imagen se presentan algunos ejemplos tales como el cocodrilo, el león, el tiburón. 
</p>
    <p> Ahora es tu turno, ¿cuáles más podrían ser?¡Buena suerte!</p>
</div>
  
  <h2 class="pistcien">En los animales herbívoros acordémonos de:</h2>
<div id="fotoanim"><img src="https://www.etapainfantil.com/wp-content/uploads/2021/04/animales-herbivoros-800x591.jpg.webp"
   width="330" />
  <h3 class="texpiscien"><p> Se caracterizan por alimentarse de plantas, hierbas o algas que obtienen mediante pastoreo, ramoneo, succión o barrenación.</p>
 <p>
      <ul style="list-style-type: circle;">
      <li>Veamos este ejemplo para que puedas guiarte:</li></p>
      <p>Como observamos en la imagen algunos animales herbívoros pueden ser los elefantes, las vacas, los osos panda ¡Y muchos más!
</p>

</div>

<h2 class="pistcien">En los animales omnívoros de:</h2>
<div id="fotoanim"><img src="https://www.etapainfantil.com/wp-content/uploads/2021/04/animales-omnivoros-800x555.jpg.webp"
   width="330" />
    <h3 class="texpiscien"><p> Aunque son depredadores por naturaleza, se adaptan muy bien a los entornos de vegetación abundante, en cuyo caso, apuestan por una dieta eminentemente vegetariana para evitar cazar. </p>
 <p>
      <ul style="list-style-type: circle;">
      <li>Veamos este ejemplo para que puedas guiarte:</li></p>
      <p>Entre ellos, se encuentra el ser humano, el oso, el cerdo, el perro, el ratón, el chimpancé, el cuervo, el erizo, la mofeta, la gallina, la tortuga marina y el avestruz.
</p>
