<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;300&display=swap" rel="stylesheet">
    <div class="wrapper fadeInDown"><h1 class="titpismat">PISTA</h1>
  
<div id="contpismat">
<h2 class="pistmatematica">En la suma acordémonos de:</h2>
<div id="fotooper"><img src="https://www.pequeocio.com/wp-content/uploads/2019/04/sumas-y-restas.jpg.webp"
   width="330" />
  <h3 class="texpismat">
    <p> Juntar dos o más cosas en un grupo, para que podamos saber cuántas hay en total.</p>
      <p>
      <ul style="list-style-type: circle;">
      <li>Veamos este ejemplo para que puedas guiarte:</li></p>
      <p>Si tengo 2 manzanas verdes y 3 manzanas rojas, y quiero saber cuántas manzanas tengo en total, junto todas las manzanas en un solo cesto y las cuento: tengo 5 manzanas en total, por lo tanto 2 + 3  es igual a 5.
</p>
</div>
  
  <h2 class="pistmatematica">En la resta acordémonos de:</h2>
<div id="fotooper"><img src="https://www.pequeocio.com/wp-content/uploads/2019/04/restas.jpg.webp"
   width="330" />
  <h3 class="texpismat"><p> Quitar una cierta cantidad de cosas a otra que ya teníamos</p>
 <p>
      <ul style="list-style-type: circle;">
      <li>Veamos este ejemplo para que puedas guiarte:</li></p>
      <p>Si tengo 5 manzanas en una cesta, y quito 2, dentro de la cesta me quedarán 3 manzanas. es decir que 5 menos 2 es igual a 3.
</p>

</div>

<h2 class="pistmatematica">En la multiplicación acordémonos de:</h2>
<div id="fotooper"><img src="https://superedu.com.mx/wp-content/uploads/2018/05/Multiplicando-20-1024x724.jpg"
   width="330" />
    <h3 class="texpismat"><p> Calcular el resultado de sumar una cantidad de cosas tantas veces como indique el otro número que compone la operación</p>
 <p>
      <ul style="list-style-type: circle;">
      <li>Veamos este ejemplo para que puedas guiarte:</li></p>
      <p>Como muestra la imagen, tengo en 3 círculos y en cada uno de ellos hay 5 manzanas. Para saber la cantidad de manzanas total que tengo, tengo que multiplicar 3 y 5: 3x5=15. Por lo tanto, la cantidad total que tengo son 15 manzanas.
</p>