<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Bebas+Neue&family=Lilita+One&family=Neuton&display=swap" rel="stylesheet">
    <div class="wrapper fadeInDown">
  <div id="contenido">
 <div class="center"›
    <!-- Icono -->
    <h1 class="EDUCANDO">
      <span style="color: #FF9255;">EDUC</span>
      <span style="color: #7894FF;"> ANDO</span>       
    </h1>
    <h1 class="titrepaso">¡REPASA TUS CONOCIMIENTOS!</h1>    
        
        <input style="margin-right: 5%; background-color: #FFA5A5" type="submit" class="fadeIn first" value="Matemática" onclick='window.location.replace("/matrepaso")'>
    

        
        <input style="background-color: #FFBDDC" type="submit" class="fadeIn second" value="Inglés" onclick='window.location.replace("/ingrepaso")'>
    
    
        <input style="margin-right: 18%; top: 80%;background-color: #FFEE83"  type="submit" class="fadeIn third" value="Geografía" onclick='window.location.replace("/georepaso")'>
    

        <input style="margin-left: 18%; top: 80%; background-color: #BEBDFF" type="submit" class="fadeIn fourth" value="Ciencia" onclick='window.location.replace("/cienrepaso")'>
    
      <img class="repasoimg" src="https://clipart-library.com/images/kcMnnkR6i.png" width="250px"; height="250px"; margin-top="30%";>
    </form>